/* You can add global styles to this file, and also import other style files */
h3{
  color:white;
  font-weight: bold;
}
.title{
  text-align: center;
  vertical-align: bottom;
  background-color: lightskyblue;
  height: 40px;
  padding-top: 5px;
}
.form-control.ng-touched.ng-valid{
  border: 1px solid red;
}
table,th,td{
  border:1px solid gray;
}